.concluido {
    animation: completo;
    animation-duration: 1000ms;/* 
    animation-timing-function: ease-in; */
    transition: ease-in;
}

@keyframes completo {
    0% {
        background-color: rgb(124, 26, 148);
        color: rgb(255, 255, 255);
        font-size: 1.5em;
    }
    90% {
        background-color: rgb(39, 39, 100);
    }
    100% {
        background-color: rgb(124, 26, 148);
    }
}