.gradePrincipal {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(188, 188, 248);
    /*  border-radius: 10px; */
    /* padding: .4em; */
    padding: 2px;
    box-shadow: -5px 7px 0px black, -10px 15px 0px rgb(36, 106, 172);
    height: 27.5em;
    width: 29em;
}